/* This style sheet is heavily inspired by PyTorch docs . */
/* https://github.com/pytorch/pytorch/blob/master/docs/source/_static/css/pytorch_theme.css */

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p.caption {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

/* Literal color */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #DB2407;
}

/* Docs top-left background color */
.wy-side-nav-search {
    background-color: #fff;
}

/* Fixes for mobile */
.wy-nav-top {
    background-color: #fff;
    background-image: url('../img/logo_h.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0.6em 1em;
}

.wy-nav-top > a { 
    display: none;
}

@media screen and (max-width: 768px) {
    .wy-side-nav-search>a img.logo {
        height: 60px;
    }   
}

/* This is needed to ensure that logo above search scales properly */
.wy-side-nav-search a {
    display: block;
}

.wy-side-nav-search>div.version {
    color: #000;
}

/* For hidden headers that appear in TOC tree */
/* see http://stackoverflow.com/a/32363545/3343043 */
.rst-content .hidden-section {
    display: none;
}

nav .hidden-section {
    display: inherit;
