# NMT data config. See `texar.data.PairedTextData.default_hparams()` for 
# hyperparameters of train/eval data. Hyperparameters not specified here will 
# take the default values. 
data_hparams_train:
  num_epochs: 10
  batch_size: 32
  source_dataset:
    files: ./data/toy_copy/train/sources.txt
    vocab_file: ./data/toy_copy/train/vocab.sources.txt
    max_seq_length: 30
  target_dataset:
    files: ./data/toy_copy/train/targets.txt
    vocab_file: ./data/toy_copy/train/vocab.targets.txt
    max_seq_length: 30

data_hparams_eval:
  batch_size: 32
  shuffle: False
  source_dataset:
    files: ./data/toy_copy/dev/sources.txt
    vocab_file: ./data/toy_copy/train/vocab.sources.txt
    max_seq_length: 50
  target_dataset:
    files: ./data/toy_copy/dev/targets.txt
    vocab_file: ./data/toy_copy/train/vocab.targets.txt
    max_seq_length: 50
